/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	text-align: center;
	background-color: #E6CCFF;
	color: #ffffff;
	text-shadow: black 0.1em 0.1em 0.2em
}

.back-button {
	width: 55px;
	height: 34px;
	padding: 5px;
	position:relative;
	left: -115px;
}

/* 
	Albums 
			*/
.albums-album-wrapper {
	display: inline;
	float: left;
	padding: 5px;
	padding-bottom: 40px;
}

.albums-album-art {
	width: 140px;
	height: 140px;
}

.albums-album-name {
	text-align: center;
	font-weight: bold;
}

.albums-artist-name {
	text-align: center;
	font-style: italic;
	font-size: small;
}

/* 
	Songs 
			*/
.songs-info-wrapper {
	padding: 10px;
}

.songs-album-art {
	width: 150px;
	height: 150px;
	float: left;
	padding-right: 5px;

}

.songs-album-name {
	font-size: x-large;
	font-weight: bold;
	float: left;
	padding: 10px;
}

.songs-artist-name {
	font-style: italic;
	font-size: large;
	float: left;
	padding: 10px;
}

.songs-text-info {
	display: block;
	float: left;
	width: 300px;
	padding-top: 10px;
}

.songs-album-year {
	float: left;
	padding: 10px;
}

.songs-list {
	border-width: 1px;
	border-style: groove;
	margin: 6px;

}

/* 
	Player 
			*/
.player-album-art {
	width: 240px;
	height: 240px;
	float: left;
	padding: 5px;
	position: relative;
	left: 25px;
	top: 25px;
}

.player-song-info {
	width: 300px;
	float: left;
	text-align: center;
	color: #9f5cc4;
	padding-top: 10px;
}

#player-song-name {
	text-align: center;
	color: #565556;
	margin-bottom: -15px;
	font-weight: bold;
	font-size: larger;
}

.volume-bar {
	float: left;
	height: 6px;
	width: 24px;
	background-color: #9f5cc4;
	margin: 6px;
	margin-top: 8px;
	border-width: 1px;
	border-style: solid;
}

.volume-level {
	width: 260px;
	float: left;
	position: relative;
	left: 20px;
}

.volume-rocker {
	float: left;
	padding-left: 45px;
	padding-right: 45px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius:5px;
}

.player-controls{
	float: left;
	padding: 5px;
	position: relative;
	left: 80px;
}

#player-time {
	float: left;
	width: 250px;
	position: relative;
	left: 25px;
	margin-top: -10px;

}

#time{
	float: left;
	width:300px;
}
#time-elapsed {
	float: left;
	padding-left: 25px;
	font-size: small;
}

#time-total{
	float: right;
	padding-right: 25px;
	font-size: small;
}